.section-box{
    border-top: 1px solid #f9f9f9;    
    background-color: #000000;
    // border-top-right-radius: 50%;
    // border-top-left-radius: 50%;
}
.col-box1{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: #f9f9f9;
}